.input-column {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .input-column {
    width: 100%;
  }

  .input-column > :not(header) {
    margin-left: var(--margin-left);
  }

  header {
    margin-left: calc(var(--margin-left) / 4);
  }
}

.output-column {
  border-radius: var(--round);
  box-shadow: 0 1.5rem 2rem -.5rem rgba(0, 0, 0, .20);
  background-color: var(--white);
  padding: 1rem;
}

.output-container:not(.hidden) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}